/*
구글 웹폰트 적용
http://www.google.com/fonts/earlyaccess
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
htmㅣ 문서의 본문(body)에 해당되는 요소를 찾아서 또는 선택해서 꾸며줍니다.
*/
body{
	/*
	디자인 가이드라인으로 쓸 베이스라인 배경 이미지를 삽입
	*/
	background-image: url(../images/baseline-21px.gif);

	/*
	키: 값;
	키: 값;
	키: 값;
	*/
	font-family: "Nanum gothic", "돋움", Dotum, Sans-Serief;
	/*font-weight: bold*/
	font-size: 14px;
	/*14 나누기 16 = 87.5% = fz87.5p*/
	/*fz14 + tab key = font-size: 14px*/
	letter-spacing: -0.015em;
	line-height: 1.5;
	color: #313335;
	/*= c# + tab key*/
	word-spacing: 1em;
	
}

p{
	margin-bottom: 21px;
}